@import 'tailwindcss';

@layer base { 
  html,
  body {
    @apply bg-[#352f5b] dark:bg-[#352f5b] justify-center items-center;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  body {
    @apply h-screen;
  }

  input[type=text],
  input[type=text]:focus {
    @apply text-white bg-[rgba(0,0,0,0.2)] border-[none];
  }

  .title {
    @apply mb-4 font-semibold text-[calc(1.375rem_+_1.5vw)];
  }

  .form-control{
    @apply block w-full text-base font-normal leading-normal text-[#212529] bg-white bg-clip-padding appearance-none rounded px-3 py-1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .list-group{
    @apply flex flex-col rounded mb-0 pl-0 text-[#f8f9fa] mr-auto ml-auto;

    .list-group-item {
      @apply flex justify-between items-center bg-[#423a6f] text-[#F8F9FA] relative no-underline border px-4 py-2 border-solid border-[rgba(0,0,0,0.125)];
      &:first-child {
        @apply rounded-t-[inherit];
      }
      &:last-child {
        @apply rounded-b-[inherit];
      }

      &+& {
        @apply border-t-0;
      }
    }
  }

  .delete {
    @apply cursor-pointer text-xl;
  }

  .add{
    @apply text-center my-6;
  }

  label.add {
    @apply inline-block mb-[15px] text-[#f8f9fa]
  }

}